.image {
    background-color:white;
    text-align: center;

}
.box1 {
    margin: auto;
    text-align: center;
    width: 85%;
}

.box2 {
    width: 85%;
    margin: auto;
    text-align: center;
}
